body {
  font-family: sans-serif;
  margin: auto;
}

nav {
  width: 100%;
  height: 64px;
  top: 0;
  position: fixed;
  background-color: white;
  box-shadow: 0 2px 8px rgba(51, 51, 51, 0.25);
}

nav img {
  float: left;
  max-height:64px;
}

section.contenu {
  display: flex;
  flex-direction: column;
  margin: 4em 20em 10em 20em;
  border: 1px solid cyan;
}

section.contenu article {
  border: 1px solid pink;
  margin: 2em;
}
